@charset "UTF-8";
body {
  font-family: 'Open Sans', 'PlayfairDisplay', sans-serif;
  color: #18191f;
  box-sizing: border-box;
  background: #F9FDFF;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Playfair Display SC', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local();
  src: local("PlayfairDisplaySC-Regular");
  src: url("../fonts/PlayfairDispay-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Playfair Display SC', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local("Playfair Display SC Bold");
  src: local("PlayfairDisplaySC-Bold");
  src: url("../fonts/PlayfairDispay-Bold.woff") format("woff");
}

.container__header {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
}

.menu {
  width: 380px;
  display: flex;
  justify-content: space-between;
}

.search {
  margin-left: 553px;
  cursor: pointer;
}

.basket {
  margin-left: 22px;
  cursor: pointer;
}

.logo img {
  cursor: pointer;
  margin-right: 139px;
}

a {
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #18191f;
}

.header__slider__furniture {
  display: flex;
}

.slider__furniture {
  display: flex !important;
  align-items: center;
  outline: none;
}

.header__slider__furniture__text {
  width: 570px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__slider__furniture__text h1 {
  text-transform: uppercase;
  width: 545px;
  font-size: 57px;
  font-family: 'PlayfairDisplay-Bold';
  font-weight: 700;
}

.header__slider__furniture__text button {
  width: 238px;
  text-transform: uppercase;
  padding: 18px 82px;
  border-radius: 0;
  cursor: pointer;
}

.new__furniture {
  display: flex;
  height: 614px;
  margin-bottom: 102px;
}

.new__furniture h2 {
  font: 600 28px "Open sans", sans-serif;
  line-height: 38px;
}

.new__left__block {
  margin-right: 30px;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new__text {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new__text img {
  width: 90px;
  height: 4px;
}

.new__img__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left__img {
  width: 270px;
  height: 289px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
}

.left__img__fon {
  width: 270px;
  height: 289px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background: #FAECE9;
}

.new__text p {
  text-transform: uppercase;
  font: 700 28px "PlayfairDisplay", sans-serif;
}

.left__img__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left__img__text p {
  font: 400 20px "Open sans", sans-serif;
  line-height: 27px;
  margin-bottom: 7px;
}

.new__right__block {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
}

.container_customer {
  width: 1170px;
  margin: 0 auto;
  background: #F9FDFF;
}

.slider__customer {
  width: 653px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.customer {
  text-align: center;
  color: #444348;
  box-sizing: border-box;
  outline: none;
}

.customer__img {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.customer h3 {
  font: 400 20px "Open sans", sans-serif;
  line-height: 154.36%;
  margin-bottom: 20px;
}

.customer p {
  line-height: 154.36%;
}

/* Собственные настройки слайлера */
.slider-arrow {
  position: absolute;
  bottom: 100px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.slider-arrow__left {
  background: url(../img/left.svg) center no-repeat;
  right: 105%;
}

.slider-arrow__right {
  background: url(../img/right.svg) center no-repeat;
  left: 105%;
}

/* Перебивка точек слайдера */
.slick-dots li button:before {
  content: '';
  background: url(../img/uncircle.svg) center no-repeat;
}

.slick-dots li.slick-active button:befor {
  background: url(../img/circle.svg) center no-repeat;
}

.container {
  width: 1170px;
  margin: 0 auto;
  background: #F9FDFF;
}

.chance__name p {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 0.05em;
}

/* 1920px, 1440px, 1024px, 992px, 768px, 425px, 375px, 320px. */
@media screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
  .left__img {
    width: 200px;
    height: 200px;
  }
  .left__img__fon {
    width: 200px;
    height: 200px;
  }
  .new__text {
    width: 200px;
    height: 200px;
  }
  .new__furniture {
    height: 550px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 750px;
  }
  .new__furniture {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .new__left__block {
    align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */