body {
  font-family: 'Open Sans', 'PlayfairDisplay', sans-serif;
  color: #18191f;
  box-sizing: border-box;
  background: #F9FDFF;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container__header {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
}

.menu {
  width: 380px;
  display: flex;
  justify-content: space-between;
}

.search {
  margin-left: 553px;
  cursor: pointer;
}

.basket {
  margin-left: 22px;
  cursor: pointer;
}

.logo img {
  cursor: pointer;
  margin-right: 139px;
}

a {
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #18191f;
}

.header__slider__furniture {
  display: flex;
}

.slider__furniture {
  display: flex;
  align-items: center;
}

.header__slider__furniture__text {
  width: 570px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__slider__furniture__text h1 {
  text-transform: uppercase;
  width: 545px;
  font-size: 57px;
  font-family: 'PlayfairDisplay-Bold';
  font-weight: 700;
}

.header__slider__furniture__text p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #303032;
}

.header__slider__furniture__text button {
  width: 238px;
  text-transform: uppercase;
  padding: 18px 82px;
  border-radius: 0;
  cursor: pointer;
}

@font-face {
  font-family: 'PlayfairDisplay-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local();
  src: local("PlayfairDisplay-Regular");
  src: url("../fonts/PlayfairDispay-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'PlayfairDisplay-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local();
  src: local("PlayfairDisplay-Bold");
  src: url("../fonts/PlayfairDispay-Regular.ttf") format("ttf");
}

.new__furniture {
  display: flex;
  height: 614px;
  margin-bottom: 102px;
}

.new__furniture h2 {
  font: 600 28px "Open sans", sans-serif;
  line-height: 38px;
}

.new__left__block {
  margin-right: 30px;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new__text {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new__text img {
  width: 90px;
  height: 4px;
}

.new__img__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left__img {
  width: 270px;
  height: 289px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
}

.left__img__fon {
  width: 270px;
  height: 289px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background: #FAECE9;
}

.new__text p {
  text-transform: uppercase;
  font: 700 28px "PlayfairDisplay-Regular", sans-serif;
}

.left__img__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left__img__text p {
  font: 400 20px "Open sans", sans-serif;
  line-height: 27px;
  margin-bottom: 7px;
}

.new__right__block {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
}

/* 1920px, 1440px, 1024px, 992px, 768px, 425px, 375px, 320px. */
@media screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
  .left__img {
    width: 200px;
    height: 200px;
  }
  .left__img__fon {
    width: 200px;
    height: 200px;
  }
  .new__text {
    width: 200px;
    height: 200px;
  }
  .new__furniture {
    height: 550px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 750px;
  }
  .new__furniture {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .new__left__block {
    align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */