body {
	font-family: "Mulish", sans-serif;
	width: 1247px;
	margin: 0 auto;
	box-sizing: border-box;

}

h1, h2, h3, h4,h5, p {
	margin: 0;
} 

.header {
	padding-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

.menu a {
	margin-left: 40px;
	/* font-weight:  bold;  вернутся к размеру шрифтов кнопок */
	font-size: 18px;
	line-height: 23px;
	color: #7D7987;
	background-color: #ffffff;
	text-decoration: none;
}

.home {
	font-weight: bold;	
}

.virtual {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 84px;
	margin-bottom: 192px;

}

.virtual__text {
	width: 445px;
	height: 337px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.virtual__text h2 {
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
}

.virtual__text p {
	font-weight: 300;
	font-size: 21px;
	line-height: 32px;
	color: #7D7987;
}

.virtual__text a {
	background: #458FF6;
	border-radius: 55px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 60px;
	color: #FFFFFF;
	width: 200px;
	text-align: center;
	text-decoration: none;
}

.our_services {
	margin-bottom: 220px;
}

.our_services_text {
	width: 952px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 80px;
}

.our_services_text h3 {
	font-weight: bold;
	font-size: 36px;
	line-height: 56px;
	color: #000000;
	padding-bottom: 13px;
}

.our_services_text p {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #7D7987;
	padding: 31px 20px 0px 20px;
}

.our_services_block {
	width: 1120px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 69px;

}

.our_services_icon {
	width: 350px;
	height: 354px;
	background: #FFFFFF;
	box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
	padding: 54px 45px 46px 37px;
	border-radius: 20px;
	margin-bottom: 37px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.our_services_icon h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 56px;
	color: #000000;
}

.our_services_icon p {
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	color: #7D7987;

}

.our_services_icon img {
	width: 95px;
	height: 95px;
}

.our_services a {
	margin: 0 auto;
	border: 1.4px solid #458FF6;
	box-sizing: border-box;
	border-radius: 55px;
	color: #458FF6;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	line-height: 60px;
	text-align: center;
	display: flex;
	justify-content: center;
	width: 200px;
	height: 56px;
}

.leading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 229px;
}

.leading__text {
	width: 486px;
	height: 388px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.leading__text h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 56px;
	color: #000000;
}

.leading__text img {
	width: 56px;
	height: 2px;
}

.leading__text p {
	width: 450px;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #7D7987;
}

.leading__text a {
	border: 1.4px solid #458FF6;
	box-sizing: border-box;
	border-radius: 55px;
	color: #458FF6;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	line-height: 60px;
	text-align: center;
	width: 200px;
	height: 56px;
}

.download {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 251px;
}