body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    color: #18191f;
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
}
.container {
    max-width: 1110px; 
    margin: 0 auto; 
}

.left {
    display: inline-block;
}

.left-top {
    
}

.left-bottom {

}

.right {
    display: inline-block;
    width: 444px;
}