@font-face 
    font-family: 'Playfair Display SC', sans-serif
    font-style: normal
    font-weight: 400
    src: local()
    src: local('PlayfairDisplaySC-Regular')
    src: url('../fonts/PlayfairDispay-Regular.woff') format("woff")

@font-face 
    font-family: 'Playfair Display SC', sans-serif
    font-style: normal
    font-weight: 700
    src: local('Playfair Display SC Bold')
    src: local('PlayfairDisplaySC-Bold')
    src: url('../fonts/PlayfairDispay-Bold.woff') format("woff")

