.container
    width: 1170px
    margin: 0 auto
    background: #F9FDFF

.chance__name p
    font-family: Playfair Display
    font-style: normal
    font-weight: bold
    font-size: 28px
    line-height: 37px
    letter-spacing: 0.05em

 