.container
    width: 1170px
    margin: 0 auto
    background: #F9FDFF

.last__chance
    margin-bottom: 167px

.chance__name p
    font-family: Playfair Display
    font-weight: bold
    font-size: 28px
    line-height: 37px
    letter-spacing: 0.05em

.chance__name
    margin-bottom: 37px

.chance__menu
    width: 275px
    display: flex
    justify-content: space-between
    margin-bottom: 25px

.chance__menu a
    font-family: Open Sans
    font-weight: 600
    font-size: 16px
    line-height: 25px
    text-decoration: none
    color: rgba(0, 0, 0, 0.4)

.chance__menu a:nth-child(1)
    font-family: Open Sans
    font-weight: 600
    font-size: 16px
    line-height: 25px
    text-decoration-line: underline
    color: #000000

.chairs
    display: flex
    justify-content: space-between

.chairs p
    font: $font-OS-mm
    line-height: 22px
    margin: 31px 0px 0px 23px
    color: #000000

.chair
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 355px
    background: #FFFFFF
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05)
    cursor: pointer

.price
    display: flex
    align-items: center
    margin-left: 23px

.price h2
    font: $font-OS-lg
    margin-right: 11px

.price h3
    font-family: Open Sans
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    text-decoration-line: line-through
    color: #303032
    opacity: 0.5