.container__header
    max-width: 1170px
    margin: 0 auto
    

.header
    display: flex
    align-items: center

.menu
    width: 380px
    display: flex
    justify-content: space-between

.search
    margin-left: 553px
    cursor: pointer

.basket
    margin-left: 22px
    cursor: pointer

.logo img
    cursor: pointer
    margin-right: 139px

.menu a
    text-decoration: none
    text-transform: uppercase
    color: #18191f



.header__slider__furniture
    display: flex 
    // background-color: blue
    

.slider__furniture
    display: flex !important
    align-items: center
    outline: none


.header__slider__furniture__text
    width: 570px
    height: 360px
    display: flex
    flex-direction: column
    justify-content: space-between


.header__slider__furniture__text h1
    text-transform: uppercase
    width: 545px
    font-size: 57px
    font-family: 'PlayfairDisplay-Bold'
    font-weight: 700



.header__slider__furniture__text p
    

.header__slider__furniture__text button
    width: 238px
    text-transform: uppercase
    padding: 18px 82px
    border-radius: 0
    cursor: pointer
