.container_customer
    background-color: blue
    width: 1170px
    margin: 0 auto

    
.slider__customer
    width: 653px
    background-color: red
    margin: 0 auto





    
.slider



.slick-initialized .slick-slide
    display: flex 
    flex-direction: column
    align-items: center
    width: 653px 
    height: 245px

.customer p
    text-align: center
